---
title: A page for you
layout: base.njk
---

<div class="container">
    <h1>This is the first page for the Jamstack project</h1>
    <div class="vibe">You are great</div>
    <div class="diamond">♦</div>
</div>
<script src="/js/vibe.js"></script>