---
title: Info
layout: base.njk
---

<div class="state">
  <div>
    <ul id="foo" class="ball">
      <li>
        <a href="#state-one">Site info</a>
      </li>
      <li>
        <a href="#state-two">Readme</a>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <h1>Info</h1>
  <p>This site was built using a static site generator - eleventy.</p>
</div>