---
title: A page for you
layout: base.njk
---

<h1>Start</h1>
<div class="card">
    <h2>Item 1</h2>
    <div class="img">
        <img src="/img/img1.jpg" width="200" height="200" alt="Item image 1" />
    </div>
</div>
<div class="card">
    <h2>Item 2</h2>
    <div class="img">
        <img src="/img/img2.jpg" width="200" height="20" alt="Item image 2" />
    </div>
</div>
<div class="card">
    <h2>Item 3</h2>
    <div class="img">
        <img src="/img/img3.jpg" width="200" height="200" alt="Item image 3" />
    </div>
</div>